
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

/* To be deleted */
div, section, header, footer{
  border: 1px red solid;
}

h1, h2, h3, h4, h5, h6{
  border: 1px solid blue;
}

a{border: 1px solid pink;}

p{border: 1px solid yellow;}

img{
  border: 1px solid purple;
}