<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/0379688db4.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class = "relative">
        <nav class = "fixed top-0 right-0 h-16 w-16 z-0 p-2 text-white">
            <i class="fa-solid fa-bars 
            <!-- Small Screens or all Screens -->
            text-4xl 
            <!-- From small and above -->
            sm:text-3xl
            "></i>
        </nav>
    </header>
    {{content}}

    <footer class = "grid grid-cols-4 px-5p pt-5p pb-1 bg-black_1 text-white">
        <div class = "col-span-4 sm:col-span-3">
            <h1 class = "
            <!-- All Screens or small Screens  -->
            font-900 text-6xl
            <!-- Tablets and up -->
            sm:text-9xl">The <br> Bunker</h1>
        </div>
        <div class = "py-2 col-span-4 sm:col-span-1 sm:relative sm:p-0">
            <div class = "sm:bottom-0 sm:absolute">
                <h3>Head Office</h3>
                <p>
                    <a href = "#">
                        222 John-Smith Ave <br> Victoria Austrailia
                    </a>
                    <a href = "#">john.smith@gmail.com</a>
                    <a href = "#">Ph: +62 8787 39405</a>
                </p>
            </div>
            
        </div>
        <div class = "col-span-4 content-center text-center p-2
        <!-- Small Screens and up -->
        sm:p-5 text-grey">
            <p>Copyright 2021</p>
        </div>
    </footer>
</body>
</html>